body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  max-width: 430px;
  animation: fadeIn 0.5s ease-in-out;
  padding: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.back {
  font-size: 26px;
  cursor: pointer;
  transition: transform 0.2s;
}

.back:hover {
  transform: scale(1.2);
}

.progress {
  width: 100%;
  height: 4px;
  background: #ddd;
  margin: 10px 0;
  border-radius: 4px;
}

.progress-bar {
  height: 4px;
  background: #3b82f6;
  width: 0%;
  transition: width 0.5s ease;
  border-radius: 4px;
}

.img-box {
  height: 230px;
  border-radius: 12px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0px;
}

img {
  width: 100%;
  height: 80%;
  object-fit: contain;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

.answers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;

}

.answers button {
  padding: 15px 0;
  border: none;
  background: white;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  color: #2d2d2d;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 64px;
  justify-content: center;
  letter-spacing: 0;
  line-height: 100%;
  text-align: center;
  width: 104px;
}

.answers button:hover {
  background: #e0e7ff;
  transform: translateY(-3px);
}

.answers button:active {
  transform: scale(0.95);
}

.question-box {
  display: none;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.loading-screen {
  display: none;
  text-align: center;
  margin-top: 80px;
  font-size: 22px;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
}

.loader {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #3b82f6;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.final-screen {
  display: none;
  text-align: center;
  background: #3b82f60f;
  border-radius: 20px;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.5;
  padding: 30px 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.final-text-1, .final-text-2, .cta-btn {
  display: none;
}

.cta-btn {
  background: #3b82f6;
  color: white;
  padding: 15px 20px;
  border: none;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
  width: 80%;
  transition: transform 0.2s ease, background 0.2s ease;
}

.cta-btn:hover {
  background: #2563eb;
  transform: translateY(-3px);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.question-text {
  text-align: center;
  font-size: 1.0625rem;
  font-weight: 700;
  margin: 25px 0 20px;
}

.logo {
  background-image: url(../img/logo.png);
  width: 100px;
  background-size: cover;
  padding: 25px;
}

.answers.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.answers.block button {
  width: 100%;
}

.flex {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#q4 .question-text,
div#q1 .question-text {
  font-size: larger;
}


.text {
    text-align: center;

    padding: 10px;
}